/*
Main Color Pallet

*/
/* line 13, ../sass/colors.scss */
[data-color~="background-mediumgrey"] {
  background: #5f6060;
}

/*general layout optimization*/
/* line 3, ../sass/layout.scss */
html,
body {
  height: 100%;
  overflow: hidden;
  box-sizing: content-box;
}

/* line 10, ../sass/layout.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*========================================================
                  End Of General Layout
  ========================================================*/
/*=======================================================
                  Layout Units
  =======================================================*/
/*full*/
/* line 27, ../sass/layout.scss */
[data-layout~="full"] {
  width: 100%;
  padding: .5rem;
  display: table;
}

/*unit layout inside of full*/
/* line 34, ../sass/layout.scss */
[data-layout~="unit"] {
  display: table-cell;
  margin: .5rem 1rem;
  padding: .3rem .5rem;
}

/*Components*/
/* line 42, ../sass/layout.scss */
#rightWall {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 100%;
}

/* line 50, ../sass/layout.scss */
#leftWall {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 100%;
}

/* line 58, ../sass/layout.scss */
#topWall {
  position: absolute;
  top: 0;
  left: 0;
  height: 2em;
  width: 100%;
}

/* line 7, ../sass/bubble.scss */
.bubbles {
  position: absolute;
  overflow: hidden;
  background: #fbea30;
  border-radius: 50%;
}
/* line 13, ../sass/bubble.scss */
.bubbles:nth-child(1) {
  bottom: 600px;
  left: 243px;
  width: 30px;
  height: 30px;
}
/* line 19, ../sass/bubble.scss */
.bubbles:nth-child(2) {
  bottom: 500px;
  left: 450px;
  width: 100px;
  height: 100px;
}
/* line 25, ../sass/bubble.scss */
.bubbles:nth-child(3) {
  bottom: 600px;
  left: 100px;
  width: 10px;
  height: 10px;
}
/* line 31, ../sass/bubble.scss */
.bubbles:nth-child(4) {
  bottom: 600px;
  left: 700px;
  width: 15px;
  height: 15px;
}
