/*
Main Color Pallet

*/
/*general layout optimization*/
/* line 3, ../sass/layout.scss */
html,
body {
  height: 100%;
  overflow: hidden;
  box-sizing: content-box;
}

/* line 10, ../sass/layout.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*========================================================
                  End Of General Layout
  ========================================================*/
/*=======================================================
                  Layout Units
  =======================================================*/
/*full*/
/* line 27, ../sass/layout.scss */
[data-layout="full"] {
  width: 100%;
  padding: .5rem;
  display: table;
}

/*unit layout inside of full*/
/* line 34, ../sass/layout.scss */
[data-layout="unit"] {
  display: table-cell;
  margin: .5rem 1rem;
  padding: .3rem .5rem;
}

/*text color*/
/* line 5, ../sass/default-styles.scss */
html {
  color: white;
}

/*background*/
/* line 10, ../sass/default-styles.scss */
body {
  background: #5f6060;
}

/*typography*/
/* line 17, ../sass/default-styles.scss */
html {
  font-family: helvetica, sans-serif;
}

/* line 21, ../sass/default-styles.scss */
[data-typography="playful"] {
  font-family: cursive;
}
